.body {
    background-color: #990909;
    font-size: 18px;
}
.yourcompany{
    text-align: center;
}
.imgcolor{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 5px 0
}
.img img{
    width: 154px;
    height: 114px;
}
.imgcolor p{
    color: white;
    text-align: center;
}
.main{
    display: flex;
    justify-content: space-between;
}
.nav{
    background-color: #7d0909;
    width: 202px;
    height: 292;
    margin-top: 5px;
}
.nav li{
    margin: 5px 0px 25px 0px;
}
.ul{
    list-style-type: none;
}
.ul a{
    color: #e95b0d;
}
.lorem{
    text-align: justify;
    color: white;
    width: 65%;
}
.aside{
    width: 250px;
    background-color: #e3dddd;
}
.title{
    text-align: center;
    background-color: #bdbdbd;
}
.title h3{
    margin-top: 2px;
    height: 20px;
}
.aside hr{
    width: 77px;
}
.footer{
    background-color: #e95b11;
    text-align: center;
    color: white;
}